#hero
    .container
      img.mainlogo-icon.shadowed.animated.fadeInDown(src='/vendor/misc/theme/img/intrepid-logo.png')
      div
        h1.hero-text.animated.fadeInDown
          | A modern web development
          br
          | framework 
          strong MEAN
          |  based
        .sub-text-boxes.animated.fadeInDown
          .sub-text-box
            img.feature-icon(src='/vendor/misc/theme/img/fast.png')
            p.feature-text
             | FAST
            p.feature-sub-text
             | We use the latest Map reduce Technologies
          .sub-text-box
            img.feature-icon(src='/vendor/misc/theme/img/modular.png')
            p.feature-text
             | MODULAR
            p.feature-sub-text
             | Highly configurable system
          .sub-text-box
            img.feature-icon(src='/vendor/misc/theme/img/customizable.png')
            p.feature-text
             | CUSTOMIZABLE
            p.feature-sub-text
             | Editable & alterable in order to fot your preferences
      
        //-.cta.animated.fadeInDown
          a.button-outline(href='features.html') See the tour
          a.button(href='signup.html') Sign up free
      //- .img


  #features
    .container
      .row.header
        .col-md-12
          h2 What about IntrepidJS?
          p IntrepidJS is a web development framework, born to meet its most common needs.
          p It enables one to create easily and quickly web applications.
          h4 IntrepidJS is released under a licence 
            a(href="http://opensource.org/licenses/MIT") MIT.
      //- .divider
      //- .row.feature
      //-   .col-md-12.info
      //-     h4 IntrepidJS is released under a licence 
      //-       a(href="http://opensource.org/licenses/MIT") MIT.
      //-     img.img-responsive.feature-icon.shadowed(src='/vendor/misc/theme/img/intrepid-logo.png')
      .divider
      //- .row.feature.backwards
        .col-md-6.info
          h4 A fully featured well design template that works.
          p
            | You have complete control over the look & feel of your website, we offer the best quality so you
            | take your site up and running in no time.
          p
            | Write some text here to explain the features of your site or application, it
            | has lots of uses.
        .col-md-6.image
          img.img-responsive(src='images/feature2.png', alt='feature2')

  #mean 
  .container
    .row.mean
      .col-xs-3
        img.mean-icon1(src='/vendor/misc/theme/img/mongodb.png')
        p
          | MongoDB is the leading NoSQL 
          | database, empowering businesses 
          | to be more agile and scalable.
      .col-xs-3 
        img.mean-icon2(src='/vendor/misc/theme/img/express.png')
        p
          | Express is a minimal and flexible 
          | node.js web application framework, 
          | providing a robust set of features 
          | for building single and multi-page, 
          | and hybrid web applications.
      .col-xs-3
        img.mean-icon3(src='/vendor/misc/theme/img/angularjs.png')
        p
          | AngularJS lets you extend HTML 
          | vocabulary for your application. 
          | The resulting environment is 
          | extraordinarily expressive, readable, 
          | and quick to develop.
      .col-xs-3
        img.mean-icon4(src='/vendor/misc/theme/img/nodejs.png')
        p
          | Node.js is a platform built on 
          | Chrome's JavaScript runtime for 
          | easily building fast, scalable 
          | network applications.

//- #pricing
    .container
      .row.header
        .col-md-12
          h3 Free trial. No contract. Cancel when you want.
          p All plans include a 7-day free trial
      .row.charts
        .col-md-4
          .chart.first
            .quantity
              span.dollar $
              span.price 29
              span.period /month
            .plan-name Freelance
            .specs
              .spec
                span.variable 5
                | team members
              .spec
                span.variable Digital
                | recurring billing
              .spec
                span.variable Virtual
                | online terminal
              .spec
                span.variable 10
                | total products
              .spec
                span.variable 1.0%
                | Transaction fee
            a.btn-signup.button-clear(href='signup.html')
              span Start free trial
        .col-md-4
          .chart.featured
            .popular Most popular
            .quantity
              span.dollar $
              span.price 79
              span.period /month
            .plan-name Profesional
            .specs
              .spec
                span.variable 15
                | team members
              .spec
                span.variable Digital
                | recurring billing
              .spec
                span.variable Virtual
                | online terminal
              .spec
                span.variable 15
                | total products
              .spec
                span.variable 0.5%
                | Transaction fee
            a.btn-signup.button-clear(href='signup.html')
              span Start free trial
        .col-md-4
          .chart.last
            .quantity
              span.dollar $
              span.price 119
              span.period /month
            .plan-name Premium
            .specs
              .spec
                span.variable Unlimited
                | team members
              .spec
                span.variable Digital
                | recurring billing
              .spec
                span.variable Virtual
                | online terminal
              .spec
                span.variable 25
                | total products
              .spec
                span.variable No
                | Transaction fee
            a.btn-signup.button-clear(href='signup.html')
              span Start free trial
//- #slider
    .container
      .row.header
        .col-md-12
          h3 Includes all pages that a complete theme should have
      .row
        .col-md-12.slide-wrapper
          .slideshow
            .btn-nav.prev
            .btn-nav.next
            .slide.active
              img(src='images/slider/slide3.png', alt='slide3')
            .slide
              img(src='images/slider/slide4.png', alt='slide4')
            .slide
              img(src='images/slider/slide1.png', alt='slide1')
            .slide
              img(src='images/slider/slide5.png', alt='slide5')
            .slide
              img(src='images/slider/slide2.png', alt='slide2')
//- #testimonials
    .container
      .row.header
        .col-md-12
          h3 Trusted by a lot businesses around the world:
      .row
        .col-sm-6
          .testimonial.pull-right
            .quote
              | I am just quoting some stuff but I am seriously happy about this product. Has a lot of powerful
              | features and is so easy to set up, I could stay customizing it day and night, it's just so much fun!
              .arrow-down
                .arrow
                .arrow-border
            .author
              img.pic(src='images/testimonials/testimonial1.jpg', alt='testimonial1')
              .name John McClane
              .company Microsoft
        .col-sm-6
          .testimonial
            .quote
              | This thing is one of those tools that everybody should be using. I really like it and with this ease to use, you can kickstart your projects and apps and just focus on your business!
              .arrow-down
                .arrow
                .arrow-border
            .author
              img.pic(src='images/testimonials/testimonial2.jpg', alt='testimonial2')
              .name Karen Jones
              .company Pixar Co.
//- #cta
    p
      | Start your free 14 day trial!
    a(href='signup.html')
      | Sign up for free
//- #clients
    .container
      .row
        .col-md-12
          h3 Our Customers
          p
            | These are some of our customers who have helped us by using our product.
          .logos
            img(src='images/logos/google.png')
            img(src='images/logos/facebook.png')
            img(src='images/logos/apple.png')
            img(src='images/logos/stripe.png')
            img(src='images/logos/yahoo.png')

div.col-xs-12
    div.row
        each highlight_center in highlights_center
            div.col-xs-12
                div(ng-include="'#{highlight_center.route}'")

div.col-md-8.col-xs-12
    div.row
        each highlight_left in highlights_left
            div.col-xs-12
                div(ng-include="'#{highlight_left.route}'")
div.col-md-4.col-xs-12
    div.row
        each highlight_right in highlights_right
            div.col-xs-12
                div(ng-include="'#{highlight_right.route}'")

include footer